---
layout: default
title: Raphael Fitness
description: Entraineur personel
---

{% include header-img.html %}

<!--======================================================
	Home Section
======================================================-->
<section id='home' class='section intro-section remain-col active' >
	<div class='section-block intro-block' >
		<div class='container-fluid' >
			<div class='v-align' >
				<div class='intro-text' > 

					<div class="visible-xs">
						<img src="img/raph-fit.jpg" class="img-circle mini-img">
					</div>

					<!-- Your name -->
					<h1>Raphaël ODEMARD</h1>

					<!-- Description -->
					<p>Entraîneur personnel</p>


					<!-- Front button -->
					<a href='#about' class='btn-custom section-link' >Voir mes services</a>

				</div>
			</div>
		</div>
	</div>

	<!-- footer -->
	<div class='intro-footer' >
		<div class='container-fluid' >
			<div class='row' >
				<div class='col-xs-6' >

					<!-- hire button -->
					<a href='#contact' class='hire-me section-link' >Passez à l'action</a>

				</div>
				<div class='col-xs-6 text-right' >

					<!-- social buttons -->
					<ul class='footer-social' >
						<li>
							<a target="_blank" href='https://www.facebook.com/Rapha%C3%ABlfitness-Entra%C3%AEneur-Personnel-290287984677677/?fref=ts' >
								<i class='ion-social-facebook' ></i>
							</a>
						</li>
						<li>
							<a target="_blank" href='https://www.instagram.com/raphael.fitness/?hl=en' >
								<i class='ion-social-instagram' ></i>
							</a>
						</li>
						<!--<li>
							<<a href='#' >
								<i class='ion-social-pinterest' ></i>
							</a>
						</li-->
						<!--<li>
							<a href='#' >
								<i class='ion-social-dribbble' ></i>
							</a>
						</li>-->
					</ul>

				</div>
			</div>
		</div>
	</div>
</section>

<!--======================================================
	About Section
======================================================-->
<section id='about' class='section about-section' >
	<div class='section-block about-block' >
		<div class='container-fluid' >
			<div class='about-text' >

				<h4 class='pre' >Présentation</h4>

				<h2>
					Raphaël ODEMARD<br>
					<span>Entraîneur Personnel</span>
				</h2>

				<p>
					Passionné d'entraînement physique depuis mon plus jeune âge, je mets en oeuvre toutes mes connaissances et mon expérience pour vous permettre d'atteindre vos objectifs. Chaque plannification est personnalisée selon votre profil, vos attentes et vos besoins. Je privilègie un travail progressif et de qualité pour des résultats durables. Mon rôle est de vous accompagner durant ce processus de changement pour vous permettre d'atteindre une autonomie sportive et alimentaire. Votre équilibre est ma réussite! <b>Passez à l'action !<b><br>
				</p>

			</div>
		</div>
	</div>
	<!--<div class='section-block funfacts-block' >
		<div class='container-fluid' >


			<h4 class='pre' >The Surprising Facts</h4>
			<div class='row' >
				<div class='col-sm-4 col-xs-6' >

					<div class='funfact' >
						<h2>
							298
						</h2>
						<p>Happy Users</p>
					</div>

				</div>
				<div class='col-sm-4 col-xs-6' >

					<div class='funfact' >
						<h2>
							135
						</h2>
						<p>Awards Won</p>
					</div>

				</div>
				<div class='col-sm-4 col-xs-12' >

					<div class='funfact' >
						<h2>
							734
						</h2>
						<p>Appreciations</p>
					</div>

				</div>
			</div>
		</div>
	</div>-->
	<div class='section-block services-block'>
		<div class='container-fluid' >

			<h4 class='pre' >Services proposés</h4>

			<div class='row' >
				<div class='col-sm-6' >

					<a href="#pop-vid-1" class="has-popup">
						<div class='service' >
							<img class="img-icon" src="img/49.svg">
							<h4>Évaluation physique</h4>
							<p>
								Déterminer votre profil corporel et physique
								<br><br>
								<span class="plus-vid">+ Vidéo</span>
							</p>
						</div>
					</a>

				</div>
				<div id='pop-vid-1' class='popup-box zoom-anim-dialog mfp-hide'>
					<figure>
						<!--project popup image/video-->
						<iframe width="560" height="315" src="https://www.youtube.com/embed/qtU7GEsBuy0" allowfullscreen></iframe>
					</figure>
				</div>

				<div class='col-sm-6' >

					<a href="#pop-vid-2" class="has-popup">
						<div class='service' >
							<img class="img-icon" src="img/40.svg">
							<h4>Plan nutritionnel</h4>
							<p>
								Organiser votre planification alimentaire
								<br><br>
								<span class="plus-vid">+ Vidéo</span>
							</p>
						</div>
					</a>

				</div>
				<div id='pop-vid-2' class='popup-box zoom-anim-dialog mfp-hide'>
					<figure>
						<!--project popup image/video-->
						<iframe width="560" height="315" src="https://www.youtube.com/embed/YRm9HVhpM7w" allowfullscreen></iframe>
					</figure>
				</div>

			</div>
			<div class='row' >
				<div class='col-sm-6' >

					<a href="#pop-vid-3" class="has-popup">
						<div class='service' >
							<img class="img-icon" src="img/65.svg">
							<h4>Planification d'entraînement</h4>
							<p>
								Créer votre programme d'entraînement
								<br><br>
								<span class="plus-vid">+ Vidéo</span>
							</p>
						</div>
					</a>

				</div>
				<div id='pop-vid-3' class='popup-box zoom-anim-dialog mfp-hide'>
					<figure>
						<!--project popup image/video-->
						<iframe width="560" height="315" src="https://www.youtube.com/embed/wYEQ7YyYEqc" allowfullscreen></iframe>
					</figure>
				</div>

				<div class='col-sm-6' >

					<a href="#pop-vid-4" class="has-popup">
						<div class='service' >
							<img class="img-icon" src="img/98.svg">
							<h4>Formule complète</h4>
							<p>
								Tous les outils pour réussir
								<br><br>
								<span class="plus-vid">+ Vidéo</span>
							</p>
						</div>
					</a>

				</div>
				<div id='pop-vid-4' class='popup-box zoom-anim-dialog mfp-hide'>
					<figure>
						<!--project popup image/video-->
						<iframe width="560" height="315" src="https://www.youtube.com/embed/780NKZIcCDw" allowfullscreen></iframe>
					</figure>
				</div>
			</div>
		</div>
	</div>
	<div class='section-block skills-block' >
		<div class='container-fluid' >

			<h4 class='pre' >Mes compétences</h4>

			<div class='skill' data-percent='100' >
				<h4>Perte de poids</h4>
			</div>

			<div class='skill' data-percent='95' >
				<h4>Préparation physique</h4>
			</div>

			<div class='skill' data-percent='100' >
				<h4>Remise en forme</h4>
			</div>

			<div class='skill' data-percent='95' >
				<h4>Nutrition</h4>
			</div>

		</div>
	</div>
	<!--<div class='section-block pricing-block' >
		<div class='container-fluid' >

			<h4 class='pre' >How much I charge</h4>

			<div class='row price-tables' >
				<div class='col-sm-6' >

					<div class='p-table' >
						<div class='header' >
							<h4>Basic</h4>
							<div class='price' >
								<span class='currency' >$</span>
								<span class='amount' >29</span>
								<span class='period' >/mo</span>
							</div>
						</div>
						<ul class='items' >
							<li>Web Designing</li>
							<li>App Designing</li>
							<li class='no' >Web Development</li>
							<li class='no' >App Development</li>
						</ul>
						<a href='#' class='btn-custom p-btn' >Choose This</a>
					</div>

				</div>
				<div class='col-sm-6' >

					<div class='p-table' >
						<div class='header' >
							<h4>Pro</h4>
							<div class='price' >
								<span class='currency' >$</span>
								<span class='amount' >49</span>
								<span class='period' >/mo</span>
							</div>
						</div>
						<ul class='items' >
							<li>Web Designing</li>
							<li>App Designing</li>
							<li>Web Development</li>
							<li>App Development</li>
						</ul>
						<a href='#' class='btn-custom p-btn' >Choose This</a>
					</div>

				</div>
			</div>
		</div>
	</div>-->
</section>

<!--======================================================
	Resume Section
======================================================-->
<section id='resume' class='section resume-section' >
	<div class='section-block education-block' >
		<div class='container-fluid' >

			<h4 class='pre' >Cursus scolaire</h4>

			<ul class='timeline' >

				<li>
					<div class='row' >

						<div class='col-sm-6' >
							<strong>2016 - </strong>
						</div>

						<div class='col-sm-6' >
							<h4>Formation Naturopathie</h4>
							<span>AcPNN</span>
						</div>

					</div>
				</li>

				<li>
					<div class='row' >

						<div class='col-sm-6' >
							<strong>2015 - 2016</strong>
						</div>

						<div class='col-sm-6' >
							<h4>Licence 3 STAPS</h4>
							<span>Spécialité entraînement sportif / Grenoble</span>
						</div>

					</div>
				</li>

				<li>
					<div class='row' >

						<div class='col-sm-6' >
							<strong>2014 - 2015</strong>
						</div>

						<div class='col-sm-6' >
							<h4>Licence 2 STAPS</h4>
							<span>Valence</span>
						</div>

					</div>
				</li>

				<li>
					<div class='row' >

						<div class='col-sm-6' >
							<strong>2013 - 2014</strong>
						</div>

						<div class='col-sm-6' >
							<h4>Licence 1 STAPS</h4>
							<span>Valence</span>
						</div>

					</div>
				</li>

			</ul>
		</div>
	</div>
	<!--<div class='section-block experience-block' >
		<div class='container-fluid' >

			<h4 class='pre' >The places where I've worked</h4>

			<ul class='timeline' >

				<li>
					<div class='row' >
						<div class='col-sm-6' >
							<strong>2014 - 2016</strong>
						</div>
						<div class='col-sm-6' >
							<h4>Themeforest</h4>
							<span>author</span>
						</div>
					</div>
				</li>

				<li>
					<div class='row' >
						<div class='col-sm-6' >
							<strong>2010 - 2014</strong>
						</div>
						<div class='col-sm-6' >
							<h4>CodeCanyon</h4>
							<span>author</span>
						</div>
					</div>
				</li>

				<li>
					<div class='row' >
						<div class='col-sm-6' >
							<strong>2008 - 2010</strong>
						</div>
						<div class='col-sm-6' >
							<h4>Blogger</h4>
							<span>author</span>
						</div>
					</div>
				</li>

				<li>
					<div class='row' >
						<div class='col-sm-6' >
							<strong>2004 - 2008</strong>
						</div>
						<div class='col-sm-6' >
							<h4>Google</h4>
							<span>user</span>
						</div>
					</div>
				</li>

			</ul>
		</div>
	</div>


	<div class='section-block testimonials-block' >
		<div class='container-fluid' >

			<h4 class='pre' >What others say about me</h4>

			<div class='testimonials-slider' >

				<div class='testimonial' >

					<div class='author-img' >
						<img src='img/person1.jpg' alt>
					</div>

					<div class='content' >
						<div class='author-info' >
							<strong>John Doe</strong>
							<span>CEO @ Company</span>
						</div>
						<p>
							Consul latine iudicabit eu vel. Cu has animal eruditi voluptatibus. Eu volumus explicari sed.
						</p>
					</div>

				</div>

				<div class='testimonial' >

					<div class='author-img' >
						<img src='img/person2.jpg' alt>
					</div>

					<div class='content' >
						<div class='author-info' >
							<strong>Jake Doe</strong>
							<span>CEO @ Company</span>
						</div>
						<p>
							Consul latine iudicabit eu vel. Cu has animal eruditi voluptatibus. Eu volumus explicari sed.
						</p>
					</div>

				</div>

				<div class='testimonial' >

					<div class='author-img' >
						<img src='img/person3.jpg' alt>
					</div>

					<div class='content' >
						<div class='author-info' >
							<strong>Jame Doe</strong>
							<span>CEO @ Company</span>
						</div>
						<p>
							Consul latine iudicabit eu vel. Cu has animal eruditi voluptatibus. Eu volumus explicari sed.
						</p>
					</div>

				</div>

				<div class='testimonial' >

					<div class='author-img' >
						<img src='img/person4.jpg' alt>
					</div>

					<div class='content' >
						<div class='author-info' >
							<strong>Jane Doe</strong>
							<span>CEO @ Company</span>
						</div>
						<p>
							Consul latine iudicabit eu vel. Cu has animal eruditi voluptatibus. Eu volumus explicari sed.
						</p>
					</div>

				</div>

			</div>
		</div>
	</div>-->
</section>

<!--======================================================
	Portfolio Section
======================================================-->
<section id='portfolio' class='section portfolio-section' >

	<div class='sectoion-block portfolio-block' >
		<div class='container-fluid' >

			<h4 class='pre' >Take a look at my works</h4>

			<ul class='portfolio-filters' >
				<li>
					<a data-group='all' href='#' class='active' >All</a>
				</li>
				<li>
					<a data-group='web' href='#' >Web</a>
				</li>
				<li>
					<a data-group='tech' href='#' >Tech</a>
				</li>
				<li>
					<a data-group='photography' href='#' >Photography</a>
				</li>
			</ul>

			<ul class='portfolio-items' >

				<li data-groups='["web", "tech"]' >
					<div class='inner' >
						<img src='img/portfolio/1.jpg' alt>
						<a href='#popup-1' class='overlay has-popup' >
							<h4>Project Title</h4>
							<p>Category</p>
						</a>
					</div>
					<div id='popup-1' class='popup-box zoom-anim-dialog mfp-hide'>
						<figure>
							<!--project popup image-->
							<img src='img/portfolio/1.jpg' alt>
						</figure>
						<div class='content'>
							<!--project popup title-->
							<h4>My Project Title</h4>
							<!--project popup description-->
							<p>
								Consul latine iudicabit eu vel. Cu has animal eruditi voluptatibus. Eu volumus explicari sed. Mel mutat vituperata suscipiantur et, et fabellas explicari adipiscing quo, no mucius euismod vis. Cu vim quem quod cibo.
							</p>
							<a href='#' class='view-more' >Visit Site</a>
						</div>
					</div>
				</li>

				<li data-groups='["photography", "tech"]' >
					<div class='inner' >
						<img src='img/portfolio/2.jpg' alt>
						<a href='#popup-2' class='overlay has-popup' >
							<h4>Project Title</h4>
							<p>Video</p>
						</a>
					</div>
					<div id='popup-2' class='popup-box zoom-anim-dialog mfp-hide'>
						<figure>
							<!--project popup image/video-->
							<iframe width="560" height="315" src="https://www.youtube.com/embed/60ItHLz5WEA" allowfullscreen></iframe>
						</figure>
					</div>
				</li>

				<li data-groups='["web", "photography"]' >
					<div class='inner' >
						<img src='img/portfolio/3.jpg' alt>
						<a href='#popup-3' class='overlay has-popup' >
							<h4>Project Title</h4>
							<p>Video</p>
						</a>
					</div>
					<div id='popup-3' class='popup-box zoom-anim-dialog mfp-hide'>
						<figure>
							<!--project popup image/video-->
							<iframe width="560" height="315" src="https://www.youtube.com/embed/60ItHLz5WEA" allowfullscreen></iframe>
						</figure>
						<div class='content'>
							<!--project popup title-->
							<h4>My Project Title</h4>
							<!--project popup description-->
							<p>
								Consul latine iudicabit eu vel. Cu has animal eruditi voluptatibus. Eu volumus explicari sed. Mel mutat vituperata suscipiantur et, et fabellas explicari adipiscing quo, no mucius euismod vis. Cu vim quem quod cibo.
							</p>
							<a href='#' class='view-more' >Visit Site</a>
						</div>
					</div>
				</li>

				<li data-groups='["tech"]' >
					<div class='inner' >
						<img src='img/portfolio/4.jpg' alt>
						<a href='#popup-4' class='overlay has-popup' >
							<h4>Project Title</h4>
							<p>Category</p>
						</a>
					</div>
					<div id='popup-4' class='popup-box zoom-anim-dialog mfp-hide'>
						<figure>
							<!--project popup image-->
							<img src='img/portfolio/4.jpg' alt>
						</figure>
						<div class='content'>
							<!--project popup title-->
							<h4>My Project Title</h4>
							<!--project popup description-->
							<p>
								Consul latine iudicabit eu vel. Cu has animal eruditi voluptatibus. Eu volumus explicari sed. Mel mutat vituperata suscipiantur et, et fabellas explicari adipiscing quo, no mucius euismod vis. Cu vim quem quod cibo.
							</p>
							<a href='#' class='view-more' >Visit Site</a>
						</div>
					</div>
				</li>

				<li data-groups='["web"]' >
					<div class='inner' >
						<img src='img/portfolio/5.jpg' alt>
						<a href='#popup-5' class='overlay has-popup' >
							<h4>Project Title</h4>
							<p>Category</p>
						</a>
					</div>
					<div id='popup-5' class='popup-box zoom-anim-dialog mfp-hide'>
						<figure>
							<!--project popup image-->
							<img src='img/portfolio/5.jpg' alt>
						</figure>
						<div class='content'>
							<!--project popup title-->
							<h4>My Project Title</h4>
							<!--project popup description-->
							<p>
								Consul latine iudicabit eu vel. Cu has animal eruditi voluptatibus. Eu volumus explicari sed. Mel mutat vituperata suscipiantur et, et fabellas explicari adipiscing quo, no mucius euismod vis. Cu vim quem quod cibo.
							</p>
							<a href='#' class='view-more' >Visit Site</a>
						</div>
					</div>
				</li>

				<li data-groups='["photography"]' >
					<div class='inner' >
						<img src='img/portfolio/6.jpg' alt>
						<a href='#popup-6' class='overlay has-popup' >
							<h4>Project Title</h4>
							<p>Category</p>
						</a>
					</div>
					<div id='popup-6' class='popup-box zoom-anim-dialog mfp-hide'>
						<figure>
							<!--project popup image-->
							<img src='img/portfolio/6.jpg' alt>
						</figure>
						<div class='content'>
							<!--project popup title-->
							<h4>My Project Title</h4>
							<!--project popup description-->
							<p>
								Consul latine iudicabit eu vel. Cu has animal eruditi voluptatibus. Eu volumus explicari sed. Mel mutat vituperata suscipiantur et, et fabellas explicari adipiscing quo, no mucius euismod vis. Cu vim quem quod cibo.
							</p>
							<a href='#' class='view-more' >Visit Site</a>
						</div>
					</div>
				</li>

			</ul>
		</div>
	</div>
</section>

<!--======================================================
	Blog Section
======================================================-->
<section id='blog' class='section blog-section' >

	<div class='section-block blog-block' >
		<div>

			<h4 class='pre' >FITNESS BLOG :</h4>

			<ul class='blog-posts' >

				{% for post in site.posts %}
				<li>
					<div class='blog-post' >
						<figure>
							<img src='{{ post.img }}' alt>
						</figure>
						<div class='content' >
							<h4>{{ post.title }}</h4>
							<ul class='post-icons' >
								<li>
									<i class='ion-ios-person' ></i>
									<span>Raphael</span>
								</li>
								<li>
									<i class='ion-ios-clock' ></i>
									<span>{{ post.date | date: "%B %Y" }}</span>
								</li>
								<li>
									<i class='ion-ios-pricetag' ></i>
									<span>{{ post.tag }}</span>
								</li>
							</ul>
						</div>
						<p>
							{{ post.body }}
						</p>
						<a href='blog-post.html' class='read-more' >Lire la suite</a>
					</div>
				</li>
				{% endfor %}

			</ul>
		</div>
	</div>
</section>

<!--======================================================
	Contact Section
======================================================-->
<section id='contact' class='section contact-section' >
	<div class='section-block contact-block' >
		<div class='container-fluid' >

			<h4 class='pre' >Envi de passer à l'action? Contactez moi!</h4>

			<div class='row' >
				<div class='col-sm-4 col-xs-12' >

					<div class='contact-info' >
						<i class='icon-basic-mail' ></i>
						<p>
							info@raphael.fitness
						</p>
					</div>

				</div>
				<div class='col-sm-4 col-xs-12' >

					<div class='contact-info' >
						<i class='icon-basic-geolocalize-01' ></i>
						<p>
							4200 Saint-Laurent,<br>
							Mtl, Qc, H4W 2R2
						</p>
					</div>

				</div>
				<div class='col-sm-4 col-xs-12' >

					<div class='contact-info' >
						<i class='icon-basic-smartphone' ></i>
						<p>
							438.889.1300
						</p>
					</div>

				</div>
			</div>


			<form  class='contact-form' method="POST" action="https://formspree.io/info@raphael.fitness">
				
				<div class='form-group' >
					<input class='form-control' type="text" placeholder='Nom' name="name">
				</div>

				<div class='row' >
					<div class='col-md-6' >
						<div class='form-group' >
							<input class='form-control' type="text" placeholder='Téléphone' name="telephone">
						</div>
					</div>
						
					<div class='col-md-6' >
						<div class='form-group' >
							<input class='form-control' type="email" placeholder='Courriel' name="email">
						</div>
					</div>
				</div>

				<div class='form-group' >
					<input class='form-control' type="text" placeholder='Sujet' name="subject">
				</div>

				<div class='form-group' >
					<textarea class='form-control' placeholder='Message' rows='5' name='message'></textarea>
				</div>

				<div class='form-group' >
					<button class='send-message' type='submit'>Envoyer</button>
				</div>
			</form>
			
		</div>
	</div>
</section>
