<!--======================================================
	JavaScript Files
======================================================-->
<script src='/js/jquery.min.js' ></script>
<script src='/js/owl.carousel.min.js' ></script>
<script src='/js/jquery.shuffle.min.js' ></script>
<script src='/js/segment.min.js' ></script>
<script src='/js/ease.min.js' ></script>
<script src='/js/jquery.magnific-popup.min.js' ></script>
<script src='/js/validator.min.js' ></script>
<script src='/js/fitvids.js' ></script>
<script src='/js/script.js' ></script>


<script src="//static.getclicky.com/js" type="text/javascript"></script>
<script type="text/javascript">try{ clicky.init(100991345); }catch(e){}</script>