---
layout: default
---
<!--======================================================
	Person Image
======================================================-->
<div class='col-img hidden-xs' style='background-image:url({{ page.img }});' ></div>

<!--======================================================
	Blog Post
======================================================-->
<section id='blog-single' class='section blog-section remain-col active' >
	<div class='section-block single-post-block' >
		<div class='container-fluid' >
			<div class='single-post' >
				<em>Posté par <a href='#' class='link' >Raphael</a> 16.10.2016.</em>

				<h1 class="post-title">{{ page.title }}</h1>

				<div class='content' >

					<p class='dropcap' >
						{{ content }}	
					</p>

					<!-- full-width-image -->


				</div>

				

			</div>
		</div>
	</div>
</section>